LCA/
.DS_Store
tp_final/tpfinal3.9/
tp_final/samples/
tp_final/microsamplervenv
tp_final/microsamples.db
tp_final/sequencervenv/
tp_final/sounds_test/
cierre_cursada.txt
devolucion_pre_entrega_final.txt
tp_final/demo.mp4